.titleSection{
    /* background-color: red; */
    /* width: 100%; */
    text-align: center;
}

.select{
    font-size: 1.5em;
    border: 0;
}

.financiero{
    text-align: center;
}

.grafica{
    margin: 0 auto;
    margin-top: 20px;
}

.button{
    z-index: 2;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    background-color: black;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.2em;
    /* margin-left: 10px; */
}

.button:hover{
    background-color: white;
    color: black;
}

.inputContainer{
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    margin: 30px auto;
    /* margin-left: 50%; */
    transform: translateX(-50%);
    /* background-color: red; */
    position: relative;
}

.textInput{
    position: absolute;
    color: grey;
    margin-left: 10px;
    transition: .3s;
    z-index: -1;
    margin-top: 5px;
}

.input{
    border: 1px solid rgb(209, 209, 209);
    height: 35px;
    border-radius: 2px;
    width: 180px;
    background-color: transparent;
    position: absolute;
    transition: .3s;
    padding: 0px 10px;
    outline: 1px solid transparent;
}

.input:focus{
    border: 1px solid orange;
    outline: 1px solid orange;
}

.input:focus + .textInput{
    color: orange;
    font-size: .8em;
    font-weight: 600;
    transform: translateY(-15px) translateX(-5px);
    background-color: white;
    padding: 0px 6px;
    z-index: 2;
}

.input:not(:placeholder-shown).input:not(:focus) + .textInput{
    color: rgb(185, 185, 185);
    font-size: .8em;
    font-weight: 600;
    transform: translateY(-15px) translateX(-5px);
    background-color: white;
    padding: 0px 6px;
    z-index: 2;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    margin: 0 auto;
}

.buttones{
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    margin: 0 50px;
}

.doblePage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topTd{
    border-top: 2px solid rgb(207, 207, 207);
    border-bottom: 2px solid rgb(207, 207, 207);
    border-right: 2px solid rgb(207, 207, 207);
    background-color: #e8e8e8;
    margin:0;
    padding: 10px 35px;
    text-align: center;
    font-weight: 600;
}

.topTd:first-child{
    border-left: 2px solid rgb(207, 207, 207);
}

.td {
    border-bottom: 2px solid #dbdbdb;
    border-right: 2px solid #dbdbdb;
    background-color: #ffffff;
    margin:0;
    padding: 10px 15px;
    cursor: pointer;
}

.tr:hover{
    font-weight: 500;
}

.td:first-child{
    border-left: 2px solid #dbdbdb;
}

table{
    border-spacing: 0;
    /* margin: 0 auto; */
}

.tabla{
    margin: 0 auto;
}

.tooltip{
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 1px;
    border: 1px solid rgb(184, 184, 184);
}

.intro{
    color:#8884d8;
}

.notPays{
    padding: 50px 0px;
    color: grey;
}